[ng-view] {
	height: 100%;
}

.md-toolbar-tools .connectedCount {
	color: white; 
	font-style: italic; 
	font-size: 1.2em;
	float: right;
	text-align: right;
	padding-right: 5px;
}

.face {
	width: 45px;
	border-radius: 50%;
	margin: 5px;
    vertical-align: middle;
}

#messageList {
	height: 100%;
    padding-bottom: 50px;
}

#messageList .message {
	margin-left: 10px;
	font-style: italic;
	color: rgb(140, 140, 140);
}

#messageForm {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
}

#messageForm md-input-container {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 30px;
}
